NGINX_EXTERNAL_PORT=8080
BACKEND_EXTERNAL_PORT=8001
POSTGRES_EXTERNAL_PORT=5432

POSTGRES_DB=your_postgres_db
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password

AUTH_JWT_SECRET=your_jwt_secret
AUTH_ACCESS_TOKEN_TTL=1d
AUTH_REFRESH_TOKEN_TTL=1w

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=your_superadmin_password
SUPERADMIN_FIRST_NAME=
SUPERADMIN_LAST_NAME=

BACKEND_CORS_ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://frontend.example.com
FRONTEND_ALLOWED_HOSTS=frontend.example.com